body {
  background-color: #403D39;
  color: #FFFCF2;
  padding: 3%;
}

#description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: 36%;
  font-size: small;
  left: 38%;
}

#unix {
 font-size: medium;
}

#js {
  font-size: x-large;
}

#minha-foto {
  float: left;
  height: 280px;
  padding: 10px;
  background-color: #8A817C;
  border-radius: 50%;
}

.image-container {
  height: 300px;
  position: relative;
}

#nome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

ul li:nth-child(odd) {
  font-style: italic;
}