body {
  background-color: #000000;
  color: #FCA311;
}
#sobre {
  font-family: Arial, Helvetica, sans-serif;
}

#description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
