body {
  background-color: #14213D;
  color: #E5E5E5;
}
#sobre {
  font-family: Arial, Helvetica, sans-serif;
}

#description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
